## common ignore rules ##

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]in/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.vs
*.log
/Assets/Temp/
/Assets/Temp.meta
*.csproj
*.sln
**/.vscode/

**~$*

**/obj/
**/obj.meta
